@font-face{
    font-family:semi;
    src:url(/assets/fonts/Montserrat-SemiBold.ttf)
}

body{
 background-color: rgb(255, 255,255);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#box_login{
    display: inline-block;
    background-color:white;
    color: #111;
    margin: 100px;
    padding: 50px;
    border-radius: 15px;
    box-shadow:0 10px 9px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.logo_login{    
    width: 30%;
}

.text_login{
    text-align: center;
    font-family:semi;
    padding: 5px;
    padding-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

input{
    margin: 15px;
    padding: 4px;
    display: block;
    font-family: semi;
    font-size: 0.9rem;

}

form{
    width: 50%;
    margin: 0 auto;
    padding: 0 auto;
}

.btn_login{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 0 auto;
   padding: 0 auto;
}

.checkbox_login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 auto;
    
}

