
#showcase {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.808)!important;
    background-blend-mode:difference;
}

#showcase-container{
    text-align: center;
}
